#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ......, ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Utilities
alias a="ag -i"
alias bashrc="source ~/.bashrc"
alias chrome="open -a 'Google Chrome'"
alias git="hub"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias j="jobs -l"
alias fs="stat -c \"%s bytes\"" # File size
alias l="clear && pwd && ls -Flh ${colorflag}"   # List all files colorized in human-readable, long format sorted by extension
alias la="clear && pwd && ls -Flha ${colorflag}" # Do above, also including dot files
alias ld="ls -lh | grep '^d'"                     # List only directories
alias lr="clear && pwd && ls -lR ${colorflag}"    # Recursively list all files in colorized, long format
alias lsd="ls -lh | grep '^d' | rainbowify"       # PRETTY COLORS
alias ll="ls -l"
alias o="open"
alias oo="open ."
alias op="open -fa /Applications/Preview.app/"
alias p="ping 8.8.8.8"
alias psd="open *psd" # open all PSD files in a directory
alias routes="netstat -nr"
alias t="tldr"
alias tf="terraform"
alias u="cd .. && l" # A nifty one stolen from Chad Whitacre: http://chad.whitacre.usesthis.com/
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g' # Get OS X Software Updates, and update Homebrew, npm, and their installed packages
alias v="nvim"
alias vmod="nvim \`git status --porcelain | sed -ne 's/^ M //p'\`"
alias vl="nvim \`fc -s\`"
alias vc="nvim \`git st | grep 'both modified' | cut -d' ' -f5\`"
alias htop="sudo htop"
alias x="xargs -I{}"

# Update database for locate
alias updatedb="sudo /usr/libexec/locate.updatedb"

# Mistypes
alias vm="mv"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Networking
alias flush="dscacheutil -flushcache" # Flush Directory Service cache
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias netip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias localip="ipconfig getifaddr en0"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
# alias whois="whois -h whois-servers.net"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Archive & extract archives
alias ztar="tar -cvzf" #new_file *.txt
alias uztar="tar -zxvf"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Launch iOS Simulator
alias ios="open -a /Applications/Xcode.app/Contents/Applications/iPhone\ Simulator.app"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="http '$method'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"

# Make Grunt print stack traces by default
command -v grunt > /dev/null && alias grunt="grunt --stack"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Clean up whiteboard photos ***REQUIRES IMAGEMAGICK***
alias whiteboard="convert $1 -morphology Convolve DoG:15,100,0 -negate -normalize -blur 0x1 -channel RBG -level 60%,91%,0.1 $2"

alias qr="qrcode-terminal"

# Docker
alias d="docker"
alias de="docker exec"
alias di="docker images"
alias dp="docker ps"
alias dc="docker compose"
alias dm="docker-machine"
alias remove-dangling='docker rmi $(docker images -qf "dangling=true")'

# Dockerized programs
alias paperspace='docker run --rm azlyth/docker-paperspace --apiKey $PAPERSPACE_API_KEY'

# Kubernetes
alias k='kubectl -n'
alias ka='kubectl get --all-namespaces'
alias kc='kubectl'
alias kn='kubectl get nodes'
alias kns='kubectl get ns'
alias kgp='kubectl get pod -n'
alias kdp='kubectl delete pod -n'
alias pods='watch -n1 kubectl get pod -n'
alias all='watch -n1 kubectl get all -n'
alias all-pods='watch -n1 kubectl get pod --all-namespaces'
alias not-running='kubectl get pod --all-namespaces -o wide | grep -ve Running -e Completed'
alias node-pods="kubectl get pod -o wide --all-namespaces | grep"
alias delete-not-running="kubectl get pod --all-namespaces | grep -v -e Running -e Completed | grep -v NAMESPACE | awk '{ print \"kubectl delete pod --wait=false -n \" $1 \" \" $2 }' | x sh -c \"{}\""

# K3d
alias reset-k3d='k3d cluster list | col 1 | grep -v NAME | x k3d cluster delete {}'

# Shipyard
alias s='kubectl -n shipyard-project-1'
alias shipyard-pods='watch kubectl -n shipyard-project-1 get pod'
alias clean-cluster='make cluster.dev-org.azlyth cluster.dev-org.cleanup'

# Pachyderm
alias pc="pachctl"

# Git
alias push-all-remotes="git remote | xargs -L1 git push"
alias ci='open $(git ci-status -v | awk "{ print \$2 }")'
alias pr='gh pr create'
alias gf="git fetch"
alias gp="git pull"
alias gb="git branch"

# AWS
alias ep="aws eks update-kubeconfig --region us-east-1 --profile peter --name"
alias ed="aws eks update-kubeconfig --region us-east-1 --profile peter-dev --name"

# Python
alias pe="pipenv"
alias per="pipenv run"
alias perp="pipenv run python"
alias py2="pyenv global 2.7.15"
alias py3="pyenv global 3.6.5"
alias pys="pyenv global system"

# GPG
alias encrypt="gpg -e -o - --armor -r"
alias copy-gpg-key="gpg --armor --export ptr.vldz@gmail.com | pbcopy"

# SSH
alias copy-ssh-key="cat ~/.ssh/id_rsa.pub | pbcopy"

# FZF
alias fzf="fzf -m --bind ctrl-a:select-all,ctrl-d:deselect-all,ctrl-t:toggle-all"

alias dephell="/Users/peter/.local/share/dephell/venvs/dephell/bin/dephell"

# Watch aliases to allow for aliases in the argument (thanks the the trailing space)
alias w1="watch -n1 "
alias w2="watch -n2 "
alias w5="watch -n5 "

alias tp="telepresence"
alias bc="buildctl"
alias tp="telepresence"
alias kx="kubectx"
alias ps="phase shipyard sh"
alias pp="phase shipyard-master-production sh"
alias ks="k9s -n shipyard -c po"
alias kp="k9s -n shipyard-master-production -c po"

# vscode
alias c="code"
